<%= page_heading 'Forums' %>

<p>
  <%= link_to 'Post', new_message_path(:forum_id => params['forum_id']) %>
  <%= link_to 'Back', messages_path %> 
</p>

<table> 
  <% for message in @messages %>
  <tr valign="top" class="<%= cycle('list-odd','list-even') %>">
    <td>
      <%= link_to h(message.subject), message_path(message.message_id) %> 
      <%=h full_name(message.first_names, message.last_name) %> 
      <br /> 
      
      <span class="list-label">
        <%=h message.reply_count.to_word %> 
        <% if message.reply_count == 1 %>reply<% else %>replies<% end %>
        <% if message.reply_count > 0 %>
        (most recent was <%=h message.last_child_post.to_s(:datetime) %>)
        <% end %>
      </span>
    </td>
  </tr>
  <% end %>

</table>

<%= will_paginate @messages %>
